<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Plant Disease Detection | Admin-Forget-Password</title>

  <link rel="stylesheet" href="static/Admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/Admin/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/Admin/css/style.css">
  <link rel="shortcut icon" href="static/Admin/images/logo.png" />

  <script src="static/Admin/js/sweetalert2@11.js"></script>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5" id="code-send-div">

              <h4>Administration Forget Password</h4>
              <h6 class="font-weight-light">Enter your logging email</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input id="txtEmail" type="email" class="form-control form-control-lg" placeholder="Email" required>
                </div>
                <div class="mt-3">
                  <button type="submit" id="btnSendCode"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                    SEND RECOVERY CODE
                  </button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                </div>

              </form>
            </div>

            <div class="auth-form-light text-left py-5 px-4 px-sm-5" id="code-enter-div">

              <h4>Administration Forget Password</h4>
              <h6 class="font-weight-light">Enter recovery code</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input id="txtEmailEnterCode" type="email" class="form-control form-control-lg" disabled>
                </div>

                <div class="form-group">
                  <input id="txtCode" type="text" class="form-control form-control-lg" placeholder="Recovery Code">
                </div>

                <div class="mt-3">
                  <button type="submit" id="btnRecoveryCode"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                    SUBMIT RECOVERY CODE
                  </button>
                  <button type="submit" id="btnRecoveryCodeReSend"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                    RE - SEND CODE
                  </button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <script src="static/Admin/jquery/jquery-3.2.1.min.js"></script>

  <script>

    $(function () {
      $('#code-enter-div').hide();
      $('#code-send-div').show();
    });

    $(function () {
      $('#btnSendCode').click(function () {

        var email = $('#txtEmail').val();

        if (email == "") {
          swal.fire("Forget Password", "Field empty!", "warning");

        } else {

          var form_data = new FormData();
          form_data.append('txtEmail', email);

          Swal.fire({
            title: 'Waiting for send recovery code!',
            imageUrl: "static/Admin/images/hourglassx100.gif",
            showConfirmButton: false,
            closeOnClickOutside: false,
            allowOutsideClick: false,
            allowEscapeKey: false,
          });

          $.ajax({
            url: "{{ url_for('appAdminRecoveryPsw.send_recovery_code') }}",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            type: 'POST',
          })
            .done(function (data) {
              if (data.redirect) {
                swal.close();
                window.location.href = data.redirect;
              }
              else if (data.error) {
                swal.close();
                Swal.fire("Forget Password", data.error, "warning");
              }
              else if (data.exist) {
                $('#txtEmailEnterCode').val($('#txtEmail').val());
                swal.close();
                $('#code-send-div').hide();
                $('#code-enter-div').show();
              }
              else {
                swal.close();
                Swal.fire("Forget Password", "Some error occur!", "warning");
              }
            });

        }

        event.preventDefault();
      });
    });


    $(function () {
      $('#btnRecoveryCode').click(function () {

        var code = $('#txtCode').val();

        if (code == "") {
          swal.fire("Forget Password", "Field empty!", "warning");

        } else {

          var form_data = new FormData();
          form_data.append('txtCode', code);

          $.ajax({
            url: "{{ url_for('appAdminRecoveryPsw.psw_recovery') }}",
            enctype: 'multipart/form-data',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            type: 'POST',
          })
            .done(function (data) {
              if (data.redirect) {
                window.location.href = data.redirect;
              }
              else if (data.error) {
                Swal.fire("Forget Password", data.error, "warning");
              }
              else {
                Swal.fire("Forget Password", "Some error occur!", "warning");
              }
            });

        }

        event.preventDefault();
      });
    });


    $(function () {
      $('#btnRecoveryCodeReSend').click(function () {

        var form_data = new FormData();
        form_data.append('resend', 'resend');

        $.ajax({
          url: "{{ url_for('appAdminRecoveryPsw.re_send_recovery_code') }}",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire("Forget Password", data.success, "success");
            }
            else {
              Swal.fire("Forget Password", "Some error occur!", "warning");
            }
          });


        event.preventDefault();
      });
    });

  </script>

  <script src="static/Admin/vendors/base/vendor.bundle.base.js"></script>
  <script src="static/Admin/js/off-canvas.js"></script>
  <script src="static/Admin/js/hoverable-collapse.js"></script>
  <script src="static/Admin/js/template.js"></script>

</body>

</html>