<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="static/Admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/Admin/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="static/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="static/Admin/css/style.css">
  <link rel="shortcut icon" href="static/Admin/images/logo.png" />

  <script src="static/Admin/js/sweetalert2@11.js"></script>

  <script src="static/Admin/vendors/base/vendor.bundle.base.js"></script>

</head>

<body>
  <div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="/Admin"><img src="static/Admin/images/logo.png" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="/Admin"><img src="static/Admin/images/logo.png"
              alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item nav-profile dropdown">

            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <span class="nav-profile-name" id="span_admin_name">Admin</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a href="{{ url_for('appAdminProfile.admin_profile') }}" class="dropdown-item">
                <i class="mdi mdi-account text-primary"></i>
                Profile
              </a>
              <a href="/logout" class="dropdown-item">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>

          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>

      </div>
    </nav>

    <div class="container-fluid page-body-wrapper">

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/Admin">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#disease" aria-expanded="false" aria-controls="disease">
              <i class="mdi mdi-leaf menu-icon"></i>
              <span class="menu-title">Diseases & Treatments</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="disease">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="/view_diseases">View Plants & Diseases</a></li>
                <li class="nav-item"> <a class="nav-link" href="/add_diseases">Add Plant & Disease</a></li>

              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#model" aria-expanded="false" aria-controls="model">
              <i class="mdi mdi-globe-model menu-icon"></i>
              <span class="menu-title">Model</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="model">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="/model_details">View Model Details</a></li>
                <li class="nav-item"> <a class="nav-link" href="/model_update">Update Model</a></li>

              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">Administers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="admin">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item"> <a class="nav-link" href="/admin_details">View Administers</a></li>
                <li class="nav-item"> <a class="nav-link" href="/add_admin">Add Administers</a></li>

              </ul>
            </div>
          </li>

        </ul>
      </nav>

      <div class="main-panel">
        <div class="content-wrapper">

          {% block content %}{% endblock %}

        </div>

        <footer class="footer">

          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2021 All rights
              reserved |
              <a href="tel:0767950600"> Maleesha</a></span>
          </div>

        </footer>

      </div>
    </div>
  </div>


  <script src="static/Admin/jquery/jquery-3.2.1.min.js"></script>

  <script>

    $(function () {

      $.ajax({
        url: "{{ url_for('appAdmin.admin_name') }}",
        enctype: 'multipart/form-data',
        data: { admin_name: "admin-name" },
        contentType: false,
        cache: false,
        processData: false,
        type: 'POST',
      })
        .done(function (data) {
          if (data.admin_name) {
            $('#span_admin_name').text(data.admin_name);
          }
        });

    })


  </script>

  <script src="static/Admin/vendors/chart.js/Chart.min.js"></script>
  <script src="static/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="static/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

  <script src="static/Admin/js/off-canvas.js"></script>
  <script src="static/Admin/js/hoverable-collapse.js"></script>
  <script src="static/Admin/js/template.js"></script>

  <script src="static/Admin/js/dashboard.js"></script>
  <script src="static/Admin/js/data-table.js"></script>
  <script src="static/Admin/js/jquery.dataTables.js"></script>
  <script src="static/Admin/js/dataTables.bootstrap4.js"></script>

  <script src="static/Admin/js/file-upload.js"></script>

</body>

</html>